.videoRaw {
  color: white;

  h3 {
    margin: 20px 0;
    span {
      color: rgb(172, 99, 240);
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.videoRaw_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.margin_line {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  justify-content: center;
  hr {
    border: none;
    margin: 5px;
    border-bottom: 1px solid rgba(58, 58, 58, 0.815);
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 45%;
  }
  div {
    display: flex;
    align-items: center;
    min-width: 10%;
    justify-content: center;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
      background-color: rgb(54, 54, 54);
      border-radius: 5px;
    }
  }
  span {
    font-size: 14px;
    font-weight: 600;
    color: rgb(200, 141, 255);
  }
  .MuiSvgIcon-root {
    color: rgb(200, 141, 255);
  }
}

@media screen and (max-width: 480px) {
  .videoRaw {
    overflow: hidden;
    h3 {
      margin-left: 10px;
    }
  }
  .videoRaw_content {
    flex-wrap: unset;
    overflow: scroll;
  }
  .videoRaw_content::-webkit-scrollbar {
    display: none;
  }
  .margin_line {
    hr {
      width: 30%;
    }
    div {
      min-width: 25%;
    }
  }
}
